@model Citrus.Models.ItemViewModel<int>
@{
    ViewBag.Title = "EventPage";
    Layout = "~/Views/Shared/_LayoutMaterial.cshtml";
}

<div class="card">
    <div class="card-header" data-ng-controller="mainController as main">
        <h2>{{}}</h2>
    </div>

    <div class="card-body card-padding">
        <p class="c-black f-500 m-b-20">Basic Example @Model.Item</p>

        <div class="form-group">
            <div class="fg-line">
                <textarea class="form-control" rows="5" placeholder="Let us type some lorem ipsum...."></textarea>
            </div>
        </div>

        <p class="c-black f-500 m-t-20 m-b-20">Height Auto Growing</p>

        <div class="form-group">
            <div class="fg-line">
                <textarea class="form-control auto-size" placeholder="Start pressing Enter to see growing..."></textarea>
            </div>
        </div>

        <p class="c-black f-500 m-b-20 m-t-20">Disabled State</p>

        <div class="form-group">
            <div class="fg-line disabled">
                <textarea class="form-control" disabled>This is disabled</textarea>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        citrus.page.eventId = @Model.Item;
    </script>

    <script type="text/javascript">

        citrus.services.factory = function ($baseService) {
            var aServiceObject = citrus.services;
            var newService = $baseService.merge(true, {}, aServiceObject, $baseService);
            return newService;
        }

        citrus.page.mainControllerFactory = function ($scope, $baseController, $citrusService) {
            var vm = this;

            $baseController.merge(vm, $baseController);

            vm.$scope = $scope;
            vm.citrusService = $citrusService;
            vm.notify = vm.citrusService.getNotifier($scope);

            vm.getEventSuccess = _getEventSuccess;
            vm.ajaxError = _ajaxError;

            render();

            function render() {
                vm.citrusService.getEventById(citrus.page.eventId, vm.getEventSuccess, vm.ajaxError)
            }

            function _getEventSuccess(data) {
                console.log(data);
                vm.eventItem = data.item;
            }

            function _ajaxError(error) {
                console.log("ajax error: ", error);
            }
        }

        citrus.ng.addService(citrus.ng.app.module
            , "$citrusService"
            , ["$baseService"]
            , citrus.services.factory);

        citrus.ng.addController(citrus.ng.app.module
            , "mainController"
            , ['$scope', '$baseController', '$citrusService']
            , citrus.page.mainControllerFactory);
    </script>
    
}