@model Citrus.Models.ItemViewModel
@{
    ViewBag.Title = "EventPage";
    Layout = "~/Views/Shared/_LayoutMaterial.cshtml";
}

<div class="card" ng-controller="mainController as main">
    <div class="card-header">
        <h1>{{main.item.Name}}</h1>
    </div>

    <div class="card-body card-padding">
        <p class="c-black f-500 m-b-20">Organization</p>

        <div class="form-group">
            <div class="fg-line">
                <p>{{main.item.Organization}}</p>
            </div>
        </div>

        <p class="c-black f-500 m-t-20 m-b-20">Address</p>

        <div class="form-group">
            <div class="fg-line">
                <p>{{main.item.Address}}</p>
            </div>
        </div>

        <p class="c-black f-500 m-b-20 m-t-20">Description</p>

        <div class="form-group">
            <div class="fg-line disabled">
                <p>{{main.item.Description}}</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="main.alertVolunteers()">Alert Volunteers</button>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        citrus.page.eventId = @Model.Item ;
    </script>

    <script type="text/javascript">

        citrus.services.factory = function ($baseService) {
            var aServiceObject = citrus.services;
            var newService = $baseService.merge(true, {}, aServiceObject, $baseService);
            return newService;
        }

        citrus.page.mainControllerFactory = function ($scope, $baseController, $citrusService) {
            var vm = this;

            $baseController.merge(vm, $baseController);

            vm.$scope = $scope;
            vm.citrusService = $citrusService;
            vm.notify = vm.citrusService.getNotifier($scope);

            vm.alertVolunteers = _alertVolunteers
            vm.getEventSuccess = _getEventSuccess;
            vm.alertSuccess = _alertSuccess;
            vm.ajaxError = _ajaxError;

            render();

            function render() {
                vm.citrusService.getEventById(citrus.page.eventId, vm.getEventSuccess, vm.ajaxError)
            }

            function _alertVolunteers() {
                vm.citrusService.alertVolunteers(vm.alertSuccess, vm.ajaxError);
            }

            function _getEventSuccess(data) {
                console.log(data);
                vm.notify( function() {
                    vm.item = data.Item;
                    console.log(vm.item);
                });
                
            }

            function _alertSuccess() {
                alert("emails sent to volunteers!");
                console.log("alert sent");
            }

            function _ajaxError(error) {
                console.log("ajax error: ", error);
            }
        }

        citrus.ng.addService(citrus.ng.app.module
            , "$citrusService"
            , ["$baseService"]
            , citrus.services.factory);

        citrus.ng.addController(citrus.ng.app.module
            , "mainController"
            , ['$scope', '$baseController', '$citrusService']
            , citrus.page.mainControllerFactory);
    </script>
    
}