
@{
    ViewBag.Title = "Volunteer";
    Layout = "~/Views/Shared/_LayoutMaterial.cshtml";
}

@section styles{
    <style type="text/css">
        .tab-content {
            white-space: normal;
        }

        .tabLink {
            font-size: 16px;
        }

        #map_subscribed, #map_nearby {
            width: 95%;
            height: 300px;
        }

        .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:focus {
            color: #555;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #2196f3;
        }

        .nav-tabs > li.active {
            border-bottom: 2px solid #2196f3;
        }
    </style>

}
<section id="main">

    <section id="content">
        <div class="container" data-ng-controller="mainController as main">

            <div class="block-header">
                <h1>{{main.volunteer.Name}}</h1>

                <ul class="actions m-t-20 hidden-xs">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Privacy Settings</a>
                            </li>
                            <li>
                                <a href="">Account Settings</a>
                            </li>
                            <li>
                                <a href="">Other Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="card" id="profile-main">
                <div class="pm-overview c-overflow">
                    <div class="pmo-pic">
                        <div class="p-relative">
                            <a href="">
                                <img class="img-responsive" src="~/img/profile-pics/10.jpg" alt="">
                            </a>


                        </div>



                    </div>

                    <div class="pmo-block pmo-contact hidden-xs p-t-10">

                        <ul>
                            <li><i class="zmdi zmdi-email"></i> {{main.volunteer.Email}}</li>
                            <li><i class="zmdi zmdi-pin"></i> {{main.volunteer.Address}}</li>
                        </ul>
                    </div>

                    <div class="pmo-block pmo-items hidden-xs">
                        <h2>About Me</h2>

                        <div class="pmob-body">
                            <div class="row">
                                {{main.volunteer.Description}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pm-body clearfix">



                    <uib-tabset class="tab-nav m-l-20">
                        <uib-tab select="main.refresh()">
                            <uib-tab-heading class="waves-effect">
                                <span class="tabLink">Events I'm Attending</span>
                            </uib-tab-heading>
                            <div class="pmb-block p-t-0">

                                <div id="map_subscribed" class="hidden-sm"></div>

                                <div class="row" ng-repeat="event in main.subscribedEvents" >
                                    <div class="col-md-7">
                                        <h3>{{event.Name}}</h3>
                                        <h4>{{event.Organization}}</h4>
                                        <p class="m-b-10">{{event.Address}}</p>
                                        <p class="m-b-10"><strong>Category: </strong> {{main.parseCategory(event.CategoryId)}}</p>
                                        <button class="btn btn-info waves-effect m-b-10" ng-click="main.unsubscribe(event.Id) ">Unfollow</button>
                                     
                                        <p>{{event.Description}}</p>
                                    </div>
                                    <div class="col-md-5">
                                        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?markers={{event.Address}}&zoom=15&size=300x200&maptype=roadmap&scale=2"
                                             class="img-responsive m-t-20" />
                                    </div>

                                    <div class="clearfix"></div>

                                    <hr />
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab  select="main.refresh()">
                            <uib-tab-heading class="waves-effect">
                                <span class="tabLink">Events Near Me</span>
                            </uib-tab-heading>
                            <div class="pmb-block p-t-0">

                                <div id="map_nearby"></div>

                                <div class="row" ng-repeat="event in main.nearbyEvents">
                                    <div class="col-md-7">
                                        <h3>{{event.Name}}</h3>
                                        <h4>{{event.Organization}}</h4>
                                        <p class="m-b-10">{{event.Address}}</p>
                                        <p class="m-b-10"><strong>Category: </strong> {{main.parseCategory(event.CategoryId)}}</p>
                                        <button class="btn btn-info waves-effect m-b-10" ng-click="main.subscribe(event.Id)">Attend</button>
                                        <p>{{event.Description}}</p>
                                    </div>
                                    <div class="col-md-5">
                                        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?markers={{event.Address}}&zoom=15&size=300x200&maptype=roadmap&scale=2"
                                             class="img-responsive m-t-20" />
                                    </div>



                                    <hr />
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab>
                            <uib-tab-heading class="waves-effect">
                                <span class="tabLink">Events I'm Interested in</span>
                            </uib-tab-heading>
                            <div class="pmb-block p-t-0">

                                <div class="row" ng-repeat="category in main.categories">
                                    <div class="col-md-3">
                                        <button class="btn btn-primary btn-sm" ng-if="category.follow" ng-click="main.toggleCategory(category)">follow</button>
                                        <button class="btn btn-primary btn-sm" ng-if="!category.follow" ng-click="main.toggleCategory(category)">Unfollow</button>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{category.cat}}</p>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                    </uib-tabset>








                </div>
            </div>
        </div>
    </section>
</section>

@section scripts {

    <script src="~/Scripts/google.maps.js"></script>

    <script type="text/javascript">

        citrus.services.factory = function ($baseService) {
            var aServiceObject = citrus.services;
            var newService = $baseService.merge(true, {}, aServiceObject, $baseService);
            return newService;
        }

        citrus.page.mainControllerFactory = function ($scope, $baseController, $citrusService) {
            var vm = this;

            $baseController.merge(vm, $baseController);

            vm.$scope = $scope;
            vm.citrusService = $citrusService;
            vm.notify = vm.citrusService.getNotifier($scope);
            vm.subscribedEvents = [];
            vm.nearbyEvents = [];
            vm.volunteer = {};
            vm.categories = [
                { "id": 1, "cat": "Environment", "follow": true },
                { "id": 2, "cat": "Healthcare", "follow": true },
                { "id": 3, "cat": "Children", "follow": true },
                { "id": 4, "cat": "Elderly", "follow": true },
                { "id": 5, "cat": "Poverty", "follow": true },
            ]

            vm.toggleCategory = _toggleCategory;
            vm.refresh = render;
            vm.getVolunteerSuccess = _getVolunteerSuccess;
            vm.getSubscribedSuccess = _getSubscribedSuccess;
            vm.getNearbySuccess = _getNearbySuccess;
            vm.volunteerCatSuccess = _volunteerCatSuccess;
            vm.ajaxError = _ajaxError;

            vm.categoryNames = [
                "Environment"
                , "Healthcare"
                , "Youth"
                , "Elderly"
                , "Poverty"
            ];

            vm.parseCategory = _parseCategory;
            vm.subscribe = _subscribe;
            vm.unsubscribe = _unsubscribe;


            render();

            function render() {

                vm.citrusService.getVolunteerById(1, vm.getVolunteerSuccess, vm.ajaxError);
                vm.citrusService.getSubscribedEvents(1, vm.getSubscribedSuccess, vm.ajaxError);
                vm.citrusService.getNearbyEvents(1, vm.getNearbySuccess, vm.ajaxError);
                vm.citrusService.getVolunteerCatByUser(1, vm.volunteerCatSuccess, vm.ajaxError);
            }

            function _parseCategory(id) {
                if (vm.categoryNames[id -1] != null) {
                    return vm.categoryNames[id - 1];
                }
                else {
                    return "Uncategorized";
                }
            }

            function _subscribe(eventId) {
                vm.citrusService.subscribeEvent(eventId, onSubscribeSuccess, vm.ajaxError);
            }

            function _unsubscribe(eventId) {
                vm.citrusService.unsubscribeEvent(eventId, onSubscribeSuccess, vm.ajaxError);
            }

            function onSubscribeSuccess(data) {
                console.log(data);
            }

            function _toggleCategory(cat) {
                cat.follow = !cat.follow;
            }

            function _getVolunteerSuccess(data) {
                console.log(data);
                vm.notify(function () {
                    vm.volunteer = data.Item;
                });
            }

            function _getSubscribedSuccess(data) {
                console.log(data);
                vm.notify(function () {
                    vm.subscribedEvents = data.Items;
                });


                var map;
                var elevator;
                var myOptions = {
                    zoom: 10,
                    center: new google.maps.LatLng(34.058755, -118.393105),
                    mapTypeId: 'roadmap'
                };
                map = new google.maps.Map($('#map_subscribed')[0], myOptions);

                var addresses = [];

                for (var x = 0; x < vm.subscribedEvents.length; x++) {
                    addresses.push(vm.subscribedEvents[x].Address);
                }

                for (var x = 0; x < addresses.length; x++) {
                    $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=' + addresses[x] + '&sensor=false', null, function (data) {
                        var p = data.results[0].geometry.location
                        var latlng = new google.maps.LatLng(p.lat, p.lng);
                        new google.maps.Marker({
                            position: latlng,
                            map: map
                        });

                    });
                }



            }

            function _getNearbySuccess(data) {
                console.log(data);
                vm.notify(function () {
                    vm.nearbyEvents = data.Items;
                });

                var map;
                var elevator;
                var myOptions = {
                    zoom: 10,
                    center: new google.maps.LatLng(34.079516, -118.417480),
                    mapTypeId: 'roadmap'
                };
                map = new google.maps.Map($('#map_nearby')[0], myOptions);

                var addresses = [];

                for (var x = 0; x < vm.nearbyEvents.length; x++) {
                    addresses.push(vm.nearbyEvents[x].Address);
                }

                for (var x = 0; x < addresses.length; x++) {
                    $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=' + addresses[x] + '&sensor=false', null, function (data) {
                        var p = data.results[0].geometry.location
                        var latlng = new google.maps.LatLng(p.lat, p.lng);
                        new google.maps.Marker({
                            position: latlng,
                            map: map
                        });

                    });
                }

            }

            function _volunteerCatSuccess(data) {
                vm.volCat = data.Items;
                for (var i = 0; i < vm.volCat.length; i++) {
                    for (var j = 0; j < vm.categories.length; j++) {
                        if (vm.volCat[i].categoryId == vm.categories[j].id) {
                            vm.notify(function () {
                                vm.categories[j].follow = false;
                            });
                        }
                    }
                }
                console.log("cat: ", vm.volCat);
            }

            function _ajaxError(error) {
                console.log("ajax error: ", error);
            }


        }

        citrus.ng.addService(citrus.ng.app.module
            , "$citrusService"
            , ["$baseService"]
            , citrus.services.factory);

        citrus.ng.addController(citrus.ng.app.module
            , "mainController"
            , ['$scope', '$baseController', '$citrusService']
            , citrus.page.mainControllerFactory);


    </script>

}