
@{
    ViewBag.Title = "Volunteer";
    Layout = "~/Views/Shared/_LayoutMaterial.cshtml";
}

@section styles{
    <style type="text/css">
        .tab-content {
            white-space: normal;
        }

        .tabLink {
            font-size: 16px;
        }
    </style>

}
<section id="main">

    <section id="content">
        <div class="container" data-ng-controller="mainController as main">

            <div class="block-header">
                <h1>{{main.volunteer.Name}}</h1>

                <ul class="actions m-t-20 hidden-xs">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Privacy Settings</a>
                            </li>
                            <li>
                                <a href="">Account Settings</a>
                            </li>
                            <li>
                                <a href="">Other Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="card" id="profile-main">
                <div class="pm-overview c-overflow">
                    <div class="pmo-pic">
                        <div class="p-relative">
                            <a href="">
                                <img class="img-responsive" src="~/img/profile-pics/2.jpg" alt="">
                            </a>


                        </div>



                    </div>

                    <div class="pmo-block pmo-contact hidden-xs">

                        <ul>
                            <li><i class="zmdi zmdi-email"></i> {{main.volunteer.Email}}</li>
                            <li><i class="zmdi zmdi-pin"></i> {{main.volunteer.Address}}</li>
                        </ul>
                    </div>

                    <div class="pmo-block pmo-items hidden-xs">
                        <h2>About Me</h2>

                        <div class="pmob-body">
                            <div class="row">
                                {{main.volunteer.Description}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pm-body clearfix">




                    <uib-tabset class="tab-nav">
                        <uib-tab>
                            <uib-tab-heading class="waves-effect">
                                <span class="tabLink">Events I'm Attending</span>
                            </uib-tab-heading>
                            <div class="pmb-block p-t-0">

                                <div ng-repeat="event in main.subscribedEvents">
                                    <h3>{{event.Name}}</h3>
                                    <h4>{{event.Organization}}</h4>
                                    <p>{{event.Address}}</p>
                                    <p>{{event.Description}}</p>

                                    <hr />
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab>
                            <uib-tab-heading class="waves-effect">
                                <span class="tabLink">Events Near Me</span>
                            </uib-tab-heading>
                            <div class="pmb-block p-t-0">

                                <div ng-repeat="event in main.nearbyEvents">
                                    <h3>{{event.Name}}</h3>
                                    <h4>{{event.Organization}}</h4>
                                    <p>{{event.Address}}</p>
                                    <p>{{event.Description}}</p>

                                    <hr />
                                </div>
                            </div>
                        </uib-tab>

                    </uib-tabset>







                    @*<ul class="tab-nav tn-justified">
                            <li class="active waves-effect"><a ng-href="#subscribed" data-toggle="tab" aria-controls="subscribed">Events</a></li>
                            <li class="waves-effect"><a ng-href="#near" data-toggle="tab" aria-controls="near">Events Near Me</a></li>

                        </ul>

                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="subscribed">
                                <div class="pmb-block p-t-0">
                                    <div ng-repeat="event in main.subscribedEvents">
                                        <h3>{{event.Name}}</h3>
                                        <h4>{{event.Organization}}</h4>
                                        <p>{{event.Address}}</p>
                                        <p>{{event.Description}}</p>

                                        <hr />
                                    </div>



                                </div>


                                <div role="tabpanel" class="tab-pane" id="near">
                                    <div class="pmb-block p-t-0">
                                        <div ng-repeat="event in main.nearbyEvents">
                                            <h3>{{event.Name}}</h3>
                                            <h4>{{event.Organization}}</h4>
                                            <p>{{event.Address}}</p>
                                            <p>{{event.Description}}</p>

                                            <hr />
                                        </div>



                                    </div>
                                </div>



                            </div>





                        </div>*@

                </div>
            </div>

    </section>
</section>

@section scripts {

    <script type="text/javascript">

        citrus.services.factory = function ($baseService) {
            var aServiceObject = citrus.services;
            var newService = $baseService.merge(true, {}, aServiceObject, $baseService);
            return newService;
        }

        citrus.page.mainControllerFactory = function ($scope, $baseController, $citrusService) {
            var vm = this;

            $baseController.merge(vm, $baseController);

            vm.$scope = $scope;
            vm.citrusService = $citrusService;
            vm.notify = vm.citrusService.getNotifier($scope);
            vm.subscribedEvents = [];
            vm.nearbyEvents = [];
            vm.volunteer = {};

            vm.getVolunteerSuccess = _getVolunteerSuccess;
            vm.getSubscribedSuccess = _getSubscribedSuccess;
            vm.getNearbySuccess = _getNearbySuccess;
            vm.ajaxError = _ajaxError;

            render();

            function render() {

                vm.citrusService.getVolunteerById(1, vm.getVolunteerSuccess, vm.ajaxError);
                vm.citrusService.getSubscribedEvents(1, vm.getSubscribedSuccess, vm.ajaxError);
                vm.citrusService.getNearbyEvents(1, vm.getNearbySuccess, vm.ajaxError);
            }

            function _getVolunteerSuccess(data) {
                console.log(data);
                vm.notify(function () {
                    vm.volunteer = data.Item;
                });
            }

            function _getSubscribedSuccess(data) {
                console.log(data);
                vm.notify(function () {
                    vm.subscribedEvents = data.Items;
                });
            }

            function _getNearbySuccess(data) {
                console.log(data);
                vm.notify(function () {
                    vm.nearbyEvents = data.Items;
                });
            }

            function _ajaxError(error) {
                console.log("ajax error: ", error);
            }
        }

        citrus.ng.addService(citrus.ng.app.module
            , "$citrusService"
            , ["$baseService"]
            , citrus.services.factory);

        citrus.ng.addController(citrus.ng.app.module
            , "mainController"
            , ['$scope', '$baseController', '$citrusService']
            , citrus.page.mainControllerFactory);

    </script>

}